
<form>
    <div class="container">
      
  <span class="badge ">Join Us <b>?:</b></span><input type="tel" id="inp" name="number"placeholder="+91" class="form-control" pattren="[0-9]{10}" />
  </div>
  </form><br>
  
  <div class="container">
    <div class="jumbotron" id="jumb">
       
         <p id="para1">Never give up </p><br>
         <h1>Do right now or else never </h1>
  
    </div>
  </div>
  <div class="row" id>
 
   
   <img src="../assets/bg.jpeg" id="image" style="height: 15rem;"> 
  </div>
  <div class="card" id="car">
  <div class="rightcol">
    <br><br><br>
    <p>Here you can develope the mobile development </p><br>
    <p> Best way to improve your knowledge  is exploring and learning new things </p>
  </div>
  
  </div><router-outlet></router-outlet>