
<div class="card">
    <h1 class="text-center" id="card">Online tutor </h1>
  </div>
  <nav  id="na" class="navbar navbar-expand-lg navbar-light ">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" id="hme" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item active">
          <a class="nav-link"id="hme" routerLink="/catlog">Catalog</a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item active">
            <a class="nav-link" id="hme" routerLink="/courses">Courses</a>
          </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item active">
            <a class="nav-link" id="hme" routerLink="/login">Login</a>
          </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li>
          <a class="nav-link active" id="hme" routerLink="/sign">Registration</a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <!---  <li class="dropdown">
          <a class="nav-link dropdown-toggle active" type="button" id="dropdownMenuButton"
          routerLink="/courses" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Courses
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Basic</a>
            <a class="dropdown-item" href="#">Arthmetic</a>
            <a class="dropdown-item" href="#">Scripting</a>
          </div>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;--> 
       <div >
        <li class="nav-item">
          <a class="nav-link active  " id="hme"routerLink="/about" routerLinkActive="active"> About </a>
        </li>
      </div>
      </ul>
      </div>
    </nav>
  <form> <!--
    <div class="container">
      
  <span class="badge ">Join Us ?:</span><input type="tel" id="inp" name="number"placeholder="+91" class="form-control" pattren="[0-9]{10}" />
  </div>
  </form><br>
   <h1>Hai</h1>
  <div class="container">
    <div class="jumbotron" id="jumb">
       
         <p id="para1">Never give up </p><br>
         <h1>Do right now or else never </h1>
  
    </div>
</div>
  <div class="row">
<h1>Hai</h1>
   <img src="../assets/bg.jpeg" style="height: 15rem;"> 
  </div>
  <div class="card" id="car">
  <div class="rightcol">
    <h2> Hai</h2>
    <p>Here you can develope the mobile development </p><br>
    <p> Best way to improve your knowledge  is exploring and learning new things </p>
  </div>
  
  </div>
  <router-outlet></router-outlet>>--->