/*#bg{
    background-image: url("../../../assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: lightcoral;
}*/
#h{
    font-style: italic;
    font-size: 5rem;
    color: cadetblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ol{
    font-size: 2rem;
}

#row{
    float: left;
    width: 25rem;
    padding-left:5rem;
   
    
}
#labe{
    font-family: fantasy;
    font-size: 2rem;
}
.column{
    color:blueviolet;
    width: 50rem;
  padding-left: 25rem;  
    font-size: large;
}