.container{
    padding-left: 17rem;
    align-items: center;
}
form{
    width: 25rem;
   
}
input{
    border-radius: 15rem;
}
h1{
    text-align: center;
    color:fuchsia;
}
button{
    width: 25rem;
}