<h1>SignUp</h1><br>
<div class="container">
 <form class="text-center bg-light"  [formGroup]="signup"(ngSubmit)="submit()">
     <div class="form-group">
     <label>First Name</label>
           <input type="text" class="form-control" formControlName="name" required   [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
           <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
               <div *ngIf="f.name.errors.required"> Name is required</div>
           </div><br>
        </div>
      <label>Last Name</label>
           <input type="text " class="form-control" formControlName="last" required  [ngClass]="{ 'is-invalid': submitted && f.last.errors }">
           <div *ngIf="submitted && f.last.errors" class="invalid-feedback">
            <div *ngIf="f.last.errors.required"> Last name  is required</div>
        </div><br>
      <label>User Name</label>
            <input type="text"  class="form-control" formControlName="user" required  [ngClass]="{ 'is-invalid': submitted && f.user.errors }">
            <div *ngIf="submitted && f.user.errors" class="invalid-feedback">
                <div *ngIf="f.user.errors.required"> User Name is required</div>
            </div><br>
        <label>Password:</label>
            <input type="password"  class="form-control" formControlName="password" required  [ngClass]="{ 'is-invalid': submitted && f.password.errors }"><br>
            <div *ngIf="submitted && f.password.errors " class="invalid-feedback">
                <div *ngIf="f.password.errors.required"> Password is required</div>
            </div>
        <label> Confirm Password:</label>
            <input type="password"  class="form-control" formControlName="cpassword"required  [ngClass]="{ 'is-invalid': submitted && f.cpassword.errors }">
            <div *ngIf="submitted && f.cpassword.errors" class="invalid-feedback">
                <div *ngIf="f.cpassword.errors.required"> Confirm password is required</div>
            </div><br>
        <label>Date of Birth</label>
              <input type="date" class="form-control" formControlName="date" required><br>
        <button type='submit' class="btn btn-primary">Submit</button><br><br>
        <button type="reset" (click)="onReset() "class="btn btn-danger">Reset </button>

</form>
</div>